.mainGameImg {
    border-radius: 0.5rem;
    width: 150px;
    height: 220px;
}

.genre {
    padding: .5rem;
    border-radius: .5rem;
    background-color: #283038;
    font-size: .75rem;
}

.dateP {
    font-size: .65rem;
}

.summary {
    max-width: 45vw;
}