/* Base Styles */
body {
    font-family: "Jost", sans-serif !important;
    background-color: #222831 !important;
    color: white !important;
    min-height: 100vh;
    max-width: 100vw;
}

/* Nav Styles */
nav {
    color: white !important;
    margin: 0 0 4rem 0;
}

.link-text {
    color: white !important;
}

/* Profile Styles */
.profile-img {
    border-radius: 5rem;
}


/* Home Styles  */
.game-container {
    border-radius: .5rem;
    background-color: black;
    padding: 1rem;
    margin: 1rem;
    max-width: 40vw;
    color: white;
}


/* Button Styles */
.del-btn {
    color: white !important;
}

.game-btn {
    max-width: 20vw;
}

/* Form Styles  */
#addGame, #registerForm, #loginForm {
    max-width: 40vw;
    border: solid black 1px;
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
    color: black;
}

#addGame > form > fieldset {
    padding-bottom: 1.5rem;
}


/* User List Styles */
.list-game {
    max-width: 70vw;
    border: solid black .2rem;
    border-radius: .5rem;
    padding: 1rem;
}


.userField {
    padding: 1rem;
}

/* Footer Styles */
footer {
    width: 100%;
    bottom: 0;
    background-color: #37414F;
    margin-top: 4rem;
    padding: 2rem;
}

/* Game Styles */
.genres {
}

.genre {
    border: solid red .1rem;
    padding: .2rem;
    width: 5vw;
    border-radius: .5rem;
}