:root {
    --bg-primary: #222831;
    --bg-secondary: #37414F;
}

a {
    color: #B54A74 !important;
    transition: color 0.2s ease-in-out;
    text-decoration: none !important;
}

a:hover {
  color: #d37c9e !important;
 }

#root {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/* Base Styles */
body {
    display: flex;
    flex-direction: column;
    font-family: "Jost", sans-serif !important;
    background-color: var(--bg-primary) !important;
    color: white !important;
    min-height: 100vh;
    max-width: 100vw;
    flex-grow: 1;
}

/* Nav Styles */
nav {
    color: white !important;
    margin: 0 0 4rem 0;
}

.link-text {
    color: white !important;
    background-color: transparent !important;
    border-radius: .5rem;
}

.drop-down {
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.menu-item {
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Profile Styles */
.profile-img {
    border-radius: 5rem;
}


/* Home Styles  */
.game-container {
    border-radius: .5rem;
    background-color: black;
    padding: 1rem;
    margin: 1rem;
    width: 40vw;
    color: white;
}


/*  Table Styles */
.table-custom {
    background-color: red !important;
}


/* Button Styles */
.del-btn {
    color: white !important;
}

.game-btn {
    max-width: 20vw;
}

.btn-outline-custom {
    border: .1rem solid #B54A74 !important;
    color: #B54A74 !important;
    transition: border 0.3s ease-in-out !important;
    transition: color 0.3s ease-in-out !important;
}

.btn-outline-custom:hover {
    border: .1rem solid #d37c9e !important;
    color: #d37c9e !important;
}

/* Form Styles  */
#addGame, #registerForm, #loginForm {
    max-width: 65vw;
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
    color: black;
}

#addGame > form > fieldset {
    padding-bottom: 1.5rem;
}

.edit-container {
    max-width: 65vw;
    width: 65vw;
}

.edit-status-form {
    background-color: var(--bg-primary);
    border-radius: .5rem;
}


/* User List Styles */
.list-game {
    max-width: 70vw;
    border-radius: .5rem;
    padding: 1rem;
}


.userField {
    padding: 1rem;
}

.favorites-list {
    list-style: none;
}

/* Footer Styles */
footer {
    width: 100%;
    background-color: var(--bg-secondary);
    margin-top: 4rem;
    padding: 2rem;
}

/* Game Styles */
.genre {
    padding: .5rem;
    border-radius: .5rem;
    background-color: #283038;
    font-size: 1rem;
}

.game-img {
    border-radius: 0.5rem;
    width: 110px;
    height: 110px;
}

.game-card {
    border: .1rem solid transparent !important;
    border-radius: 0.5rem;
    transition: border 0.15s ease-in-out !important;
}

.game-card:hover {
     border: .1rem solid #d37c9e !important;
}


/* Icon Styles */
.icon-color {
    color: white;
}


/* Dialog Styles */
.success-dialog {
    border-radius: .5rem;
    background-color: white;
    color: black;
    padding: 2rem;
    max-width: 45vw;
    position: absolute;
}



/* User Profile Styles */
.user-bio {
    padding: 1rem;
    border-radius: .5rem;
}


/* Home Styles */
.home-list {
    list-style: none;
}

