/* Base Styles */
body {
    font-family: "Jost", sans-serif !important;
}

/* Nav Styles */
nav {
    margin: 0 0 4rem 0;
}

/* Profile Styles */
.profile-img {
    border-radius: 5rem;
}


/* Home Styles  */
.game-container {
    border-radius: .5rem;
    background-color: black;
    padding: 1rem;
    margin: 1rem;
    max-width: 40vw;
    color: white;
}


/* Button Styles */
.del-btn {
    color: white !important;
}

.game-btn {
    max-width: 20vw;
}

/* Form Styles  */
#addGame, #registerForm, #loginForm {
    max-width: 40vw;
    border: solid black 1px;
    border-radius: .5rem;
    padding: 1rem;
}

#addGame > form > fieldset {
    padding-bottom: 1.5rem;
}


/* User List Styles */
.list-game {
    max-width: 70vw;
}